{
  "presets": [
    ["@babel/preset-env", {"modules": false}],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "minify-constant-folding",
    "babel-plugin-styled-components",
  ],
  "env": {
    "production": {
      "presets": ["react-optimize", "minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react", "react-optimize"]
    }
  }
}
